/doc/gestalt.aux
/doc/gestalt.cp
/doc/gestalt.cps
/doc/gestalt.fn
/doc/gestalt.fns
/doc/gestalt.ky
/doc/gestalt.log
/doc/gestalt.pdf
/doc/gestalt.pg
/doc/gestalt.toc
/doc/gestalt.tp
/doc/gestalt.tps
/doc/gestalt.vr
/doc/gestalt.vrs
/doc/gestalt.html
